@using Whisky.Db
@using Whisky.Web

@model Whisky.Db.Entities.Product
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "product-detail";
}

<div class="navigation">
    <a href="@Url.Content("~/")">zpět na výpis všech</a>
</div>
<div class="product-detail-image">
    <img src="@Url.Content(@Model.ImageUrl)" alt="detail" />
</div>
<div class="product-detail-content">
    <h1 class="product-detail-name">@Model.Name</h1>
    <p>@Model.DetailUnderName</p>
    <div class="button-and-price">
        <a class="btn btn-action" href="#orderheader"><i class="ico ico-shopping-cart"></i> Objednat</a>
        <span class="product-price">
            @((int) Model.Price) Kč
            <em>včetně DPH</em>
        </span>
    </div>
    <article class="product-detail-text">
        @Html.Raw(Model.LongDescription)
    </article>
</div>
<div class="product-detail-form" data-ng-controller="ProductDetailController">
    <h2 class="form-header" id="orderheader">
        Závazná objednávka
    </h2>
    <form name="orderForm" role="form" action="@Url.Action("CreateOrder")" method="post" novalidate>
        <pre>{{order|json}}</pre>
        <div class="form-group">
            <label for="inputName" class="control-label">Jméno</label>
            <input type="text" data-ng-model="order.userName" required class="form-control" id="inputName" name="Name" placeholder="Jan Novák">
            <p ng-show="orderForm.Name.$invalid && !orderForm.Name.$pristine" class="validation-error-message">Vaše jméno je povinný údaj.</p>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="control-label">E-mail</label>
            <input type="email" data-ng-model="order.email" required class="form-control" id="inputEmail" name="Email" placeholder="jan.novak@seznam.cz">
            <p ng-show="orderForm.Email.$invalid && !orderForm.Email.$pristine" class="validation-error-message">Vyplněný email není ve správném formátu.</p>
        </div>
        <div class="form-group">
            <label class="control-label">Doprava:</label>
            <div class="radio">
                <label>
                    @{
                        var ceskaPostaShipment = ShipmentFeeRetriever.GetShipmentFee(ShipmentMethod.CeskaPosta);
                        var osobniShipment = ShipmentFeeRetriever.GetShipmentFee(ShipmentMethod.Osobni);
                    }

                    <input type="radio" data-ng-model="order.shipmentMethod" required data-ng-change="shipmentMethodChanged(order.shipmentMethod, @ceskaPostaShipment)" name="ShipmentMethod" value="CeskaPosta" checked="checked">Česká pošta (+@ceskaPostaShipment kč)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" data-ng-model="order.shipmentMethod" required data-ng-change="shipmentMethodChanged(order.shipmentMethod, @osobniShipment)" name="ShipmentMethod" value="Osobni">Osobní převzetí v Brně
                </label>
            </div>
            <p ng-show="orderForm.ShipmentMethod.$invalid && !orderForm.ShipmentMethod.$pristine" class="validation-error-message">You name is required.</p>
        </div>
        <div class="form-group">
            <label class="control-label">Platba:</label>
            <div class="radio">
                <label>
                    <input type="radio" data-ng-model="order.paymentMethod" required name="PaymentMethod" value="{{personalPaymentMethodValue}}" checked="checked">{{personalPaymentMethodText}}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" data-ng-model="order.paymentMethod" required name="PaymentMethod" value="Prevodem">Převodem na účet předem
                </label>
            </div>
            <p ng-show="orderForm.PaymentMethod.$invalid && !orderForm.PaymentMethod.$pristine" class="validation-error-message">You name is required.</p>
        </div>
        <div class="form-group" ng-show="showShippingAddressInput">
            <label for="inputDelivery" class="control-label">Doručovací adresa:</label>
            <input type="text" data-ng-model="order.inputDelivery" ng-required="showShippingAddressInput" class="form-control" id="inputDelivery" name="DeliveryAddress" placeholder="Hrnčířská 14, Brno, 60200">
            <p ng-show="orderForm.DeliveryAddress.$invalid && !orderForm.DeliveryAddress.$pristine" class="validation-error-message">You name is required.</p>
        </div>
        <div class="form-group">
            <label for="inputNote" class="control-label">Poznámka:</label>
            <textarea name="Note" id="inputNote" class="form-control" rows="4" placeholder="Sem napište poznámku&hellip;"></textarea>
        </div>
        <div class="form-group form-group-offset">
            <div>
                <input data-ng-disabled="orderForm.$invalid" type="submit" class="btn btn-action" value="Odeslat objednávku za {{totalPrice}}kč">
            </div>
        </div>
        <input type="hidden" name="ProductId" value="@Model.Id" />
    </form>
</div>

<script type="text/javascript" src="@Url.Content("~/Scripts/Vendor/angular.js")"></script>

<script>
    // TODORoman: udelat hezceji
    var productPrice = @Model.Price.ToString(System.Globalization.CultureInfo.InvariantCulture)
</script>

<script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"></script>