@model List<_3whisky.db.Entities.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h2>Cervnova nabidka</h2>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
</div>

<div class="container-fluid">
    @foreach (var product in Model)
    {
        <div class="col-sm-4">
			<div class="panel">
				<h3>@product.Name</h3>
				<img class="img-rounded img-responsive" src="@product.ImageUrl">
			    <br />
				<p>@product.ShortDescription</p>
				<p>Cena: @product.Price Kč vcetne DPH</p>
                
                <a href="@Url.Action("Detail", new { id = product.Id })" class="btn btn-sm btn-default">Detail</a>
                <a href="@Url.Action("Detail", new { id = product.Id })#order" class="btn btn-sm btn-primary">Objednat</a>
			</div>
		</div>
    }
	</div>
</div>
